# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
env/

# Environment variables — KABHI PUSH MAT KARO
.env

# Database file
*.db

# OS
.DS_Store

# Build
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
pk/